<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign in</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
  <body background="https://media.istockphoto.com/id/589415708/photo/fresh-fruits-and-vegetables.jpg?s=2048x2048&w=is&k=20&c=HuL0PWV7DOxpHzlHLMZfWGvMpmpA05gYoc6XS6HkX3Y=">
    <nav>
        <label class="logo">ragacakompania</label>
        <div class="dropdown">
          <button class="dropbtn" onclick="" >Dropdown 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">SIGN IN</a>
            <a href="#">SIGN UP</a>
            <a href="#">CONTACT</a>
          </div>
    </nav>
  </body>
  </html>
    <script>
      function toggleDropdown() {
        var dropdownContent = document.getElementById("dropdown");
        dropdownContent.classList
      }
    </script>